<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key = "LastSaveDir" value ="C:/"/>
    
    <add key = "MainsDcChannel" value ="0"/>
    <add key = "ExtDcChannel" value ="3"/>
    <add key = "ExtBattChannel" value ="1"/>
    <add key = "IntBattChannel" value ="2"/>
    
    <add key = "MainScopeChannel" value ="0"/>
    <add key = "SupercapHiScopeChannel" value ="1"/>
    <add key = "SupercapMidScopeChannel" value ="2"/>
    <add key = "SupercapReturnScopeChannel" value ="3"/>
    <add key = "SpeakerScopeChannel1" value ="4"/>
    <add key = "SpeakerScopeChannel2" value ="5"/>
    
    <add key = "PrimaryDigitalDevice" value ="0"/>
    <add key = "SecondaryDigitalDevice" value ="1"/>
    
    <add key = "GenerateXML" value ="1"/>
    <add key = "GenerateJSON" value ="1"/>
    <add key = "GeneratePlaintext" value ="1"/>
    <add key = "GenerateSubfolder" value ="1"/>
  </appSettings>
</configuration>